---
import Layout from "@/layouts/Layout.astro";
import { getLiveCollection } from "astro:content";
import { paginateSSR } from "@/lib/paginate";

const { category, page: pageParam } = Astro.params;
const currentPage = parseInt(pageParam || "1");

const { entries, error, cacheHint } = await getLiveCollection("data", {
  category: category as string,
});

if (cacheHint) {
  Astro.cache.set(cacheHint);
}
Astro.cache.set({ maxAge: 60, swr: 30 });

if (error || !entries || entries.length === 0) {
  return Astro.redirect("/404");
}

const page = paginateSSR(entries, {
  pageSize: 30,
  currentPage,
  baseUrl: `/categories/${category}`,
});

if (page.data.length === 0 && currentPage > 1) {
  return Astro.redirect(`/categories/${category}`);
}

const firstEntry = entries[0].data;
const categoryName = firstEntry.category.name;
const emoji = firstEntry.category.emojiHTML;

import PostCard from "@/components/post-card.astro";
import Head from "@/components/head-page.astro";
---

<Layout>
  <Head slot="head" title={`Category: ${categoryName}`} />
  <header class="category-info">
    <div>
      <h1>
        <span set:html={emoji} />
        {categoryName}
      </h1>
      <p>{firstEntry.category.description}</p>
      <p class="stats">{page.total} posts</p>
    </div>
  </header>

  <div class="grid-list">
    {
      page.data.map((entry) => {
        return <PostCard p={entry.data} />;
      })
    }
  </div>

  <nav class="pagination">
    <div class="nav-links">
      {
        page.url.prev ? (
          <a href={page.url.prev} class="prev">
            &larr;
          </a>
        ) : (
          <span />
        )
      }
      <span class="page-count">
        <span style="color: var(--theme)">{page.currentPage}</span> / <span
          >{page.lastPage}</span
        >
      </span>
      {
        page.url.next ? (
          <a href={page.url.next} class="next">
            &rarr;
          </a>
        ) : (
          <span />
        )
      }
    </div>
  </nav>
</Layout>

<style>
  .category-info {
    padding: 2rem;
    text-align: center;
    .stats {
      color: var(--tx-2);
    }
  }
  .grid-list {
    column-count: 1;
    column-gap: 1em;
    width: 100%;
    @media (min-width: 768px) {
      column-count: 2;
    }
  }
  .nav-links {
    display: grid;
    /* 核心：定义三列，左右两列各占 1份剩余空间 (1fr) */
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 7rem;
  }

  .page-count {
    text-align: center;
    font-variant-numeric: tabular-nums;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prev {
    justify-self: end; /* 箭头向右靠，贴近文字 */
  }

  .next {
    justify-self: start; /* 箭头向左靠，贴近文字 */
  }

  /* 即使是空的占位符，也会占据 1fr 的宽度 */
  .nav-links span:not(.page-count) {
    display: block;
    width: 1em; /* 保持和箭头一样的预留宽度 */
  }
</style>
